<div class="ui segment">
  <div class="ui top attached tabular menu">
    <a class="active item" data-tab="first">Details</a>
    <a class="item" data-tab="second">Comments</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="first">
    <h1><%= @post.title%><small><%= @post.category.name%></small></h1>
    <i><%= @post.date_posted%></i>
    <p text-align="justified"><%= @post.content%><p>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    <%= link_to "Add New Comment", new_post_comment_path(@post.id) %> 
  </div>
  <div class="ui segment">
   <!--  <% @comments.each do |c| %>
      <%= c.user_comment %>
    <% end %> -->
  </div>  
  
</div>

<script>
  $('.menu .item').tab();
</script>